// set root font-size for all elements based on screen size 

html {
  font-size: 17px;
}
@media (min-width: 441px) {
  html { font-size: 15px; }
}
@media (min-width: 800px) {
  html { font-size: 13px; }
}

// set general component 

h1{
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

h2{
  font-size: .8rem;
}

.navlink{
  text-decoration: none;
  color: black;
}

// OPENER styling

.opener{
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#welcome-header{
  font-family: American Typewriter, serif;
}

#cloud{
  height: 24vh;
  width: 80vw;
  background-image: url('./images/green-cloud.png');
  background-size: contain;
  margin: 0 auto;
}

#cloud-text{
  text-align: center;
  padding-top: 12vh;
  color: white;
  width: 50vw;
  margin: 0 auto;
}

#sites{
  margin: 0 auto;
  width: 85vw;
}

// site

.site{
  cursor: pointer;
  text-align: center;
  border: 1px solid darkgreen;
  border-radius: 3px;
  margin-top: 10px;
}

.site-link a:hover{
  background-color: aquamarine;
}

// HOME PAGE


#navbar{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

#products-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 75vh;
  background-color: aqua;
}

#products-list{
  width: 90vw;
  height: 60vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#product-item{
  height: 40vh;
  width: 24vw;
  background-color: red;
  margin-bottom: 5vh;
}

.product-item-image{
  height: 50%;
  object-fit: contain;
}

#modal-container{
  height: 100%;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
}

#modal-text{
  color: #eee;
  width: 20%;

}

#modal-image-container{
  width: 70%;
}

#modal-image{
  object-fit: contain;
}

#modal-image-text{
  opacity: 1;
  color: coral;
}

#modal-image:hover #modal-image-text{
  opacity: 1;
}

#modal-image:hover #modal-image{
  opacity: 0.3;
}