.opener{
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#welcome-header{
  position: absolute;
  width: auto;
  height: auto;
  top: 10vh;
  right: 20vw;
  font-family: American Typewriter, serif;
  font-size: 40px;
}

#welcome{
  position: absolute;
  width: 15vw;
  height: auto;
  top: 20vh;
  right: 10vw;
  font-family: American Typewriter, serif;
  font-size: 20px;
  text-align: left;
}

#side-note{
  position: absolute;
  width: 19vw;
  height: auto;
  bottom: 14vh;
  left: 6vw;
  font-family: American Typewriter;
  font-size: 16px;
  text-align: left;
}

.navlink{
  text-decoration: none;
}

// SITE PAGE //
.site{
  display: flex;
  width: 50vw;
  height: 13vh;
  // border-style: solid;
  // border-width: 10px;
  // border-color: red;
  background-color: whitesmoke;
}

.site:hover{
  width: 100vw;
  height: 20vh;
}

#site-header{
  color: black;
}

#site-intro{

}


// .nav-link:hover{
//   text-decoration: none;
// }

h1{
  text-align: center;
  height: 10vh;
  width: 100vw;
}

#sites{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}


#navbar{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

#products-list-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 75vh;
  background-color: aqua;
}

#products-list{
  width: 90vw;
  height: 60vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#product-item{
  height: 40vh;
  width: 24vw;
  background-color: red;
  margin-bottom: 5vh;
}

.product-item-image{
  height: 50%;
  object-fit: contain;
}

#modal-container{
  height: 100%;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
}

#modal-text{
  color: #eee;
  width: 20%;

}

#modal-image-container{
  width: 70%;
}

#modal-image{
  object-fit: contain;
}

#modal-image-text{
  opacity: 1;
  color: coral;
}

#modal-image:hover #modal-image-text{
  opacity: 1;
}

#modal-image:hover #modal-image{
  opacity: 0.3;
}